<tr class="border-b dark:border-gray-700">
    <th id="column1" scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">Apple iMac 27&#34;</th>
    <td id="column2" class="px-4 py-3">Apr 23, 2021</td>
    <td id="column3" class="px-4 py-3 font-bold font-black">$2999</td>
    <td class="px-4 py-3">
        <div class="absolute right-0 top-7 content-center sm:relative sm:right-auto sm:top-auto">
                                  <span id="column4" class="  inline-flex items-center rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300">
                                    Completed
                                  </span>
        </div>
    </td>
    <td class="px-4 py-3">
        <button id="delete_button" class="text-red-600 hover:text-red-900">Удалить</button>
    </td>
</tr>
